@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

input[type="text"]#q{
  width: 600px;
  height: 35px;
  margin-bottom: 10px;
  display: block;
  border-radius: 24px;
  padding-left: 10px;
  border-color: rgba(223,225,229,0);
  z-index: 3;
  position: relative;
  min-height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  margin: 0 auto;
  font-size: 15px;
}

input[type="text"]:focus#q{
  outline: none;
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

input[type="text"]:hover#q{
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
  border-color: rgba(223,225,229,0)
}

input[type="submit"].q{
  width: 140px;
  display: block;
  margin-top: 20px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  color: #3c4043;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 0 16px;
  line-height:27px;
  height: 36px;
  text-align: center;
  cursor: pointer;
}

input[type="submit"]:hover.q{
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

.container {
  display: flex;
}

.input-group {
  display: contents;
}
.btn1 {
  margin-left: 160px;
}

.btn2 {
  margin-left: 30px;
}
.Google {
  font-size: 80px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  letter-spacing: -10px;
}

.blue {
  color: #4285F4;
}

.red {
  color: #DB4437;
}

.yellow {
  color: #F4B400;
}

.green {
  color: #0F9D58;
}

.top-right-link {
  position: absolute;
  top: 40px; /* adjust as needed */
  right: 40px; /* adjust as needed */
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Google-advanced-logo{
  font-size: 30px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  letter-spacing: -3px; 
  position: absolute;
  left: 40px;
  top: 30px;
  margin-top: 20px;
}

.Google-advanced {
  font-size: 20px;
  font-weight: 500;
  font-family: "arial", "sans-serif";
  margin-bottom: 20px;
  position: absolute;
  left: 80px;
  top: 110px;
  color: red;
}

.jfk-textinput {
  -webkit-border-radius:1px;
  -moz-border-radius:1px;
  border-radius:1px;
  border:1px solid #d9d9d9;
  border-top:1px solid #c0c0c0;
  font-size:13px;
  height:25px;
  padding:1px 8px;
}

.jfk-textinput:focus {
  -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.3);
  -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.3);
  box-shadow:inset 0 1px 2px rgba(0,0,0,.3);
  border:1px solid #4d90fe;
  outline:none
}

.jfk-textinput::-ms-clear {
  display:none
}

.jfk-button-action{
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  background-color:#4d90fe;
  background-image:-webkit-linear-gradient(top,#4d90fe,#4787ed);
  background-image:-moz-linear-gradient(top,#4d90fe,#4787ed);
  background-image:-ms-linear-gradient(top,#4d90fe,#4787ed);
  background-image:-o-linear-gradient(top,#4d90fe,#4787ed);
  background-image:linear-gradient(top,#4d90fe,#4787ed);
  border:1px solid #3079ed;
  color:#fff
}

.jfk-button-action:hover{background-color:#357ae8;
  background-image:
  -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
  background-image:-webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-image:-moz-linear-gradient(top,#4d90fe,#357ae8);
  background-image:-ms-linear-gradient(top,#4d90fe,#357ae8);
  background-image:-o-linear-gradient(top,#4d90fe,#357ae8);
  background-image:linear-gradient(top,#4d90fe,#357ae8);
  border:1px solid #2f5bb7;-webkit-border-image:initial;
  border-image:initial
}

.jfk-button-action:focus{
  -webkit-box-shadow:inset 0 0 0 1px #fff;
  -moz-box-shadow:inset 0 0 0 1px #fff;
  box-shadow:inset 0 0 0 1px #fff;
  border:1px solid #fff;
  border:rgba(0,0,0,0) solid 1px;
  outline:1px solid #4d90fe;
  outline:rgba(0,0,0,0) 0}
  
.jfk-button-action:active{
  -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.3);
  -moz-box-shadow:inset 0 1px 2px rgba(0,0,0,.3);
  box-shadow:inset 0 1px 2px rgba(0,0,0,.3);
  background:#357ae8;border:1px solid #2f5bb7;
  border-top:1px solid #2f5bb7
}

.container_advanced label {
  margin-right: 20px;
  color: black;
  font-size: 15px;
  margin-bottom: 15px;
  white-space: nowrap;
}

.container_advanced {
  display: flex;
  margin-bottom: 20px;
}

.container_advanced input {
  width: 400px;
}

.form {
  margin-top: 20px;
}

.label-right {
  margin-left: 20px;
}

